* {
    font-family: 'Press Start 2P', cursive;
}

h4{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

button{
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #ddd;
    cursor: pointer;
}

body {
    background: #111111;
}

#parent {
    display: inline-block;
    position: relative;
    height: calc(576px + 140px)
}

#overlappingDiv {
    background: #111111;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

#attackBar {
    background: white;
    border-top: 4px #111111 solid;
    height: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
}

#attackNameButton {
    width:66.66%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#attackType {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 4px #111111 solid;
}
/*-----------------------draggel health bar----------------------------*/
#enemyInfo {
    position: absolute;
    background:white;
    width: 250px;
    top: 50px;
    left: 50px;
    border: 2px #111111 solid;
    padding: 12px;
    border-radius: 7.5px;
}

#enemyHpBar {
    position: relative;
}

#enemyHP_Bar_Empty {
    height:5px;
    background: #ddd;
    /* border-radius: 50px; */
    border: 1px #111111 solid;
    margin-top: 10px;
    
}

#enemyHpBarFull {
    height:5px;
    background: green;
    /* border-radius: 50px; 
    border: 1px #111111 solid;*/
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
}

/* #enemyHP_Bar_notfull {
    height:5px;
    background: green;
    border radius ?
    border: 1px #111111 solid;
    margin-top: 10px;
    width: 246px;
} */


/*--------------------------embby----------------*/

#allyInfo {
    position: absolute;
    background:white;
    width: 250px;
    top: 430px;
    right: 50px;
    border: 2px #111111 solid;
    padding: 12px;
    border-radius: 7.5px;
}

#allyHpBar {
    position: relative;
}

#allyHP_Bar_Empty {
    height:5px;
    background: #ddd;
    /* border-radius: 50px; */
    border: 1px #111111 solid;
    margin-top: 10px;
    
}

#allyHpBarfull {
    height:5px;
    background: green;
    /* border-radius: 50px; 
    border: 1px #111111 solid;*/
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
}

/* #allyHP_Bar_notfull {
    height:5px;
    background: green;
    border radius ?
    border: 1px #111111 solid;
    margin-top: 10px;
    width: 246px;
} */
